%h4 Home Profiles
%table.table.table-bordered
  %tr
    %th
      Profile Name
    %th
      Description
  - @profiles.each do |profile|
    %tr
      %td= profile.name
      %td= profile.description
