%h4 Home Profiles
%table.table.table-bordered
  %tr
    %th
      Profile Name
    %th
      Description
  - @profiles.each do |profile|
    %tr
      %td= link_to profile.name, home_profile_path( profile.id ) 
      %td= profile.description
