.container-fluid
  .row-fluid
    .span3
      .well.sidebar-name
        %ul.nav.nav-list
          %li.nav-header Data Management
          %li.active 
            = link_to( 'Upload Data Set', new_set_meta_path)
          %li
            = link_to( 'Calculate', new_calculation_path)
       
    .span9
      .hero-unit
        %h1 Link and Sync
 
